<div class="container flex flex-col justify-center">
  <h1 class="text-6xl text-center mb-5">Users</h1>
  <div class="flex justify-between items-center mb-5 p-4 border border-gray rounded-lg shadow-sm">
    <%= render "import" %>
    <%= render "search" %>
  </div>

  <% if @people.exists? %>
    <%= render "table" %>
    <%= render "paginate" %>
  <% else %>
    <h2 class="text-3xl text-center">Import some users...</h2>
  <% end %>
</div>
